.main {
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--surface);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.left,
.right,
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left,
.right {
    flex: 0 0 auto;
}

.center {
    flex: 1;
    text-align: center;
    min-width: 0;
}

.settingsLink,
.settings {
    height: 30px;
}

.settings {
    transition: scale 0.5s ease;
    cursor: pointer;
    color: white;
}

.settings:hover {
    scale: 1.2;
    animation: spin 5s infinite cubic-bezier(0, 0, 0, 0);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
