html,
body,
text,
#root {
    height: 100%;
    width: 100%;
    min-width: 400px;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --dark: #0c0c0c; 
    --background: #18181b;
    --sidebar: #070708;
    --surface-selected: #1b1b1f;
    --surface-hover: #1c1b20;

    --text: #d1d3d3;
    --text-muted: #a7a7a7;

    --accent: #311e5b;

    interpolate-size: allow-keywords;

    color: var(--text);
}

::-webkit-scrollbar {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--sidebar);
    border-right: 3px solid #101010;
    border-bottom: 3px solid #101010;
    border-left: 3px solid #3d3d3d;
    border-top: 3px solid #3d3d3d;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--surface-hover);
}