.contextMenu {
    z-index: 1000;
    background-color: var(--surface);
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.contextMenu * {
    background-color: var(--surface-hover);
    color: var(--text-muted);
    cursor: pointer;
    min-height: 30px;
}

.playlistList {
    padding: 2px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-height: 100px;
    overflow-y: auto;
    background-color: var(--sidebar);
}

.playlistList button {
    flex: 0 0 auto;
    text-align: left;
}

.emptyMessage {
    color: var(--text-muted);
    padding: 8px;
}