html,
body,
text,
#root
{
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --background: #1a1a1e;
    --sidebar: #121214;
    --surface: #202225;
    --surface-hover: #2a2d31;
    --border: #303238;

    --text: #f2f3f5;
    --text-muted: #a5a7ab;

    --accent: #1db954;

    interpolate-size: allow-keywords;

    color: var(--text)
}