.item {
    position: relative;
    display: flex;
    background-color: var(--background);
    align-items: center;
    border-radius: 5px;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    box-shadow: 4px 8px 8px #0a0a0a;
    transition: transform 0.3s ease;
    padding-right: 10px;
}

.clickable{
    cursor: pointer;
}

.icon,
.arrow {
    flex: 0 0 auto;
}

.albumArt {
    display: none;
    width: 100%;
    height: 50px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 3px;
}

.name {
    flex: 1;
    text-align: center;
    min-width: 0;
    font-size: 12px;
    margin: 0px 10px;
}

.arrow {
    display: inline-block;
    transition: transform 250ms ease;
}

.arrow.open {
    transform: rotate(90deg);
}

.item:hover {
    transform: scale();
}

.children {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 200ms ease;
    margin-bottom: 10px;
}

.children.open {
    padding-top: 10px;
    grid-template-rows: 1fr;
}

.children > div {
    overflow: hidden;
    min-height: 0;
}

.innerChildren {
    display: flex;
    flex-direction: column;
    min-width: 0px;
}

@media (min-width: 900px) {
    .albumArt {
        display: block;
    }
}
